# IDE
.idea
.vscode/
*.code-workspace

# python
*.pyc
__pycache__/
.ipynb_checkpoints/

# OS
.DS_Store

# config
*.env

# saved models
models/

# data directories
etc/

# User R files
*.Rproj
.Rproj.user/
*.Rhistory

# User python files and cache
__pycache__
*.egg-info/
.ipynb_checkpoints/

# Session log files
ilogs/*
logs/*
lightning_logs/*

# User vscode config
.vscode/
.vs
*.code-workspace

# Vim files
*.sw[l-p]

# Python intermediate files
*.pyc

# log files
nohup.out

# MATLAB folders created
slprj/

# Simulink intermediate files
*.slxc

# AAD cache
*.aadcache

# system files
.DS_Store

# test files
html/
test-output.xml

# jupyter
.ipynb_checkpoints

# tmp directories
tmp/

# hydra outputs
outputs/
multirun/
mlruns/
xgboost_gridsearch

# pytest reports
.coverage
pytest-coverage.txt

# saved models
saved_models/

# wandb
wandb/
etc/
