defaults:
  - model: xgboost.yaml
  #- data: cartpole_mixed.yaml
  #- simulator: cartpole_mixed_simparam.yaml
  #- data: quanser_rand.yaml
  #- simulator: quanser_simparam.yaml
  - data: house_energy.yaml
  - simulator: house_energy_simparam.yaml
